body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif
}
/* Estilizando tag do html */
header{
    background-color:rgb(15, 3, 65);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
nav{
    width: 80%;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
    color: white;
    font-size: 24px;
}

main{
    width:70%;
    display: flex;
    flex-direction: column;
}
form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* Estilizar por id*/
#simulacao{
    background-color: rgb(213, 231, 235, 0.622);
    width:100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;   
}
#simulacao h2 {
    color: #0077bd;
    margin-left: 20px;
}


/* Estilizar por classe */
.linha-form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.linha-form label {
    font-weight: bold;
    font-size: 16px;
    color:rgb(50, 48, 48);
}
.input-form{
    display:flex;
    flex-direction: column;
    width: 30%;
}
.input-form input {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.input-form input:focus{ 
    outline:none !important;
    border-color:#0077bd;
    box-shadow: 0, 0, 10;

}
.btn-calcular {
    width: 130px;
    height: 35px;
    background-color: #0077bd;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.btn-limpar {
    width:130px;
    height: 35px;
    background-color:hsl(352deg, 71%, 54%, 1);
    color:#000000;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

#resultado{
    background-color: rgb(213, 231, 235, 0.622);
    width:100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;   
}
#resultado h2 {
    color: #0077bd;
    margin-left: 20px;
}
.resultado-linha{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:space-around;
}

.total{
    width: 28%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px; 
    text-align: center;
}
.titulo-total {
    color: rgb(26, 25, 25);
    font-weight: bold;
    font-size: 18px;
}
#total-final{
    color: rgb(26, 25, 25);
    font-weight: bold;
    font-size: 20px;
}
#total-investido{
    color:  #0077bd;
    font-weight: bold;
    font-size: 20px;
}
#total-juros{
    color:  #089614;
    font-weight: bold;
    font-size: 20px;
}




